<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/public/css/style.scss" />
    <title>Atlas Yelpscura</title>
  </head>
  <body>
    <nav>
      <!-- <img src="/public/images/Eiffel-Tower-Silhouette.svg" alt="logo" /> -->
      <a href="/cities/new" <%- title === 'Add City' ? 'class="active"' : '' %> >Add City</a>
      <a href="/cities" <%- title === 'All Cities' ? 'class="active"' : '' %>>All Cities</a>
    </nav>
    <main>
      <h1><%= title %></h1>

