:root {
  --green: #1c6250;
  --green-black: #154e40;
  --brown-text: #382c14;
  --off-white: #efe8dc;
  --logo-tan: #ccb48d;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.navbar {
  background-color: var(--green);
  font-family: "Poppins", sans-serif;
}

.container {
  float: right;
}

.title {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;

}

.homepage {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

