<%- include('../partials/header') %> 

<h4>Edit <%= city.name %></h4>

<form action="/cities/<%= city._id %>?_method=PUT" method="POST">
    <label
      >Name of your City or Town:
      <input type="text" name="name" required />
    </label>
    <br />
    <label
      >Country:
      <input type="text" name="country" required />
    </label>
    <br />
    <label
      >Name of State, Province, or Territory:
      <input type="text" name="state" />
    </label>
    <br />
    <label>
      Population:
      <input type="number" name="population" />
    </label>
    <br />
    <label
      >Capital City:
      <input type="checkbox" name="capital" checked />
    </label>
    <br />
    <label
      >Image URL:
      <input type="text" name="img" />
    </label>
    <!-- <label
      >Image:
      <input type="file" name="img" />
    </label> -->
    <br />
    <button type="submit" class="btn">Add City</button>
  </form>
  <% } else { %>
  <h3>Must be logged in to enter a new city</h3>
  <% } %>
  <br />